*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", serif;
}
.wrapper{
  margin-left: 5%;
  margin-right:5%;
  
}

.arrange-left{
  float: left;
}
.wid-25{
  width: 25%;
}
.next-row{
  clear: both;
}
.wid-50{
  width: 50%;
}

.common-btn{
  height: 40px;
  min-width: 18%;
  text-align: center;
  color: #D19C97;
  border-radius: 0;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 10px;
}
.common-btn span{
  font-size: 16px;
  font-weight: 800;
}
.common-btn span i{
  padding-right: 13px;
  padding-left: 1px;
}
